# Run smart-codex setup to create/open your private installed configuration.
# All settings below are disabled until you explicitly uncomment them.
# Jev account signup/login and API keys: https://console.typesafe.ai/keys
# Official instructions: https://docs.typesafe.ai/introduction/quickstart
# Provider fees are separate from this free software and your Codex subscription.
# Enter your own key in this local file; never paste it into agent chat or commit it.
# TYPESAFE_API_KEY=
# Observe/auto classification sends your task text and bounded earlier excerpts to TypeSafe.
# Uncomment the consent setting only after reviewing the README data flow.
# ALLOW_JEV_CLASSIFICATION=true
# SMART_CODEX_CLASSIFIER=direct
